* {
    box-sizing: border-box;
}

:root {
    color-scheme: light dark;

    --spacing: 20px;
}

html, body {
    height: 100%;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

body {
    margin: 0 calc(var(--spacing) * 2);
    font: -apple-system-short-body;
}

.tutorial-image {
    max-width: 100%;
    display: block;
}

.logo {
    text-align: center;
}

body:not(.platform-mac, .platform-ios) :is(.platform-mac, .platform-ios) {
    display: none;
}

body.platform-ios .platform-mac {
    display: none;
}

body.platform-mac .platform-ios {
    display: none;
}

body.platform-ios .platform-mac {
    display: none;
}

body:not(.state-on, .state-off) :is(.state-on, .state-off) {
    display: none;
}

body.state-on :is(.state-off, .state-unknown) {
    display: none;
}

body.state-off :is(.state-on, .state-unknown) {
    display: none;
}

button {
    font-size: 1em;
}
